.films {
    padding: 60px 0 77px;
}

.films__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.films__card {
    max-width: 255px;
    width: 100%;
    height: 366px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);

}

.films__card-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.films__card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: flex-start;
    padding: 54px 15px 18px;
    text-align: center;
    height: 100%;
}

.films__card-body-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.films__card-body-icon {
    font-size: 40px;
}

.films__card-body-time {
    font-family: var(--MR);
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    color: var(--white);
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    padding: 5px 28px;
}

.films__card-body-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.films__card-body-title {
    font-family: var(--MR);
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    color: var(--white);
    text-align: center;

}

.films__card-body-desc {
    font-family: var(--RR);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
@media screen and (max-width:992px){
    .films__wrap{
        flex-wrap: wrap;
    }
    .films__card{
        max-width: 320px;
    }
    
}
@media screen and (max-width:768px){
    .films__card{
        max-width: 255px;
    }
}